button {
    height: 2.8em;
    width: 11em;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid #b41d5f;
    outline: none;
    color: #b41d5f;
    font-size: 17px;
   }
   
   button:hover {
    background: #b41d5f;
    color: #ffffff;
    animation: squeeze3124 0.9s both;
   }
   
   @keyframes squeeze3124 {
    0% {
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
    }
   
    30% {
     -webkit-transform: scale3d(1.25, 0.75, 1);
     transform: scale3d(1.25, 0.75, 1);
    }
   
    40% {
     -webkit-transform: scale3d(0.75, 1.25, 1);
     transform: scale3d(0.75, 1.25, 1);
    }
   
    50% {
     -webkit-transform: scale3d(1.15, 0.85, 1);
     transform: scale3d(1.15, 0.85, 1);
    }
   
    65% {
     -webkit-transform: scale3d(0.95, 1.05, 1);
     transform: scale3d(0.95, 1.05, 1);
    }
   
    75% {
     -webkit-transform: scale3d(1.05, 0.95, 1);
     transform: scale3d(1.05, 0.95, 1);
    }
   
    100% {
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
    }
   }
   
/* styles.css */

/* Add a background color and text color to the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* Center the header text */
  header h1, header p {
    margin: 0;
    
  }
  
  /* Style the search section */
  #search-section {
    padding: 20px;
  }
  
  #search-form {
    display: flex;
    align-items: center;
  }
  
  #search-form label {
    margin-right: 10px;
  }
  
  /* Style the results section */
  #results-section {
    padding: 20px;
  }
  
  /* Style the preferences section */
  #preferences-section {
    padding: 20px;
  }
  
  /* Center the preferences options */
  #preferences-section div {
    text-align: center;
  }
  
  /* Style the community section */
  #community-section {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  /* Add some space to the bottom of the page */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

